<div flex layout="column" layout-padding class="container">
  <h4 class="md-title">{{$ctrl.user.firstName}} {{$ctrl.user.lastName}}</h4>
  <md-list ng-if="$ctrl.user.role === 'organizer'">
    <control-panel-item label="$ctrl.event" view="broadcast" on-click="$ctrl.changeView"></control-panel-item>
    <control-panel-item ng-repeat="group in $ctrl.groups track by group.id"
      label="group.name"
      view="manageGroup"
      on-click="$ctrl.changeView"></control-panel-item>
  </md-list>
  <md-list ng-if="$ctrl.user.role !== 'organizer'">
    <md-list-item ng-repeat="member in $ctrl.members track by member.id">
      <p>{{member.firstName}} {{member.lastName}}<p>
    </md-list-item>
  </md-list>
</div>
