<div flex layout="column" layout-padding>
  <md-list>
    <md-list-item class="md-3-line md-long-text" md-whiteframe="7" ng-repeat="message in $ctrl.messages track by $index">
      <div class="md-list-item-text">
        <span class="md-subhead">{{message.fromName}}</span><span class="md-caption">{{message.sendDate.toString()}}</span>
        <div class="md-title">{{message.title}}</div>
        <div class="md-body-2">{{message.text}}</div>
        <div ng-if="$ctrl.user.role === 'organizer'">
          <span ng-repeat="group in message.recipients track by $index" class="recipient">{{group}}</span>
        </div>
      </div>
    </md-list-item>
  </md-list>
</div>
