<md-dialog flex="50" aria-label="Send Message">
  <form flex layout="column" layout-padding>
    <md-dialog-content>
      <div class="md-dialog-content" flex layout="column">
        <md-input-container>
          <label for="compose-message-body">Something to tell or ask the group?</label>
          <textarea id="compose-message-body" required ng-model="msg.messageBody"></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-accent md-raised" flex="nogrow" ng-click="sendAndClose(msg)">Send Message</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
