<form id="messageSend" flex layout="column" layout-padding ng-submit="$ctrl.sendMessage()">
  <div ng-if="$ctrl.user.role === 'organizer'">
    <label for="group-select">Which groups should this announcement go to?</label>
    <md-select id="group-select" required multiple ng-model="$ctrl.messageTo" aria-label="Select Groups">
      <md-option ng-repeat="group in $ctrl.groups track by group.id" value="{{[group.id, group.name]}}">{{group.name}}</md-option>
    </md-select>
  </div>
  <md-input-container ng-if="$ctrl.user.role === 'organizer'">
    <label for="compose-message-title">Do you want an announcement heading?</label>
    <input id="compose-message-title" autocomplete="off" ng-model="$ctrl.messageTitle"/>
  </md-input-container>
  <md-input-container>
    <label for="compose-message-body">Message</label>
    <textarea id="compose-message-body" required rows="3" placeholder="What is your announcement?" ng-model="$ctrl.messageBody"></textarea>
  </md-input-container>
  <md-button type="submit" class="md-accent md-raised">Send Announcement</md-button>
</form>
