<md-content flex>
  <md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="day in $ctrl.schedule.days track by $index">
      <md-tab-label>{{day.date}}</md-tab-label>
      <md-tab-body>
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="appointment in day.timetable track by $index">
            <div class="md-list-item-text">
              <h4 class="md-subhead">Time: {{appointment.time}}</h4>
              <h4 class="md-subhead">Activity: {{appointment.activity}}</h4>
              <p class="md-body-2">Location: {{appointment.location}}</p>
            </div>
          </md-list-item>
        </md-list>
      </md-tab-body>
    </md-tab>
  </div>
  </md-tabs>
</md-content>
